/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  background-color: #ffffff;
}
@media (max-width: 1087px) {
  [class*="__container"] {
    max-width: 970px;
  }
}
/* Tablet  */
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}
/* Mobile */
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}
.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 120px;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__menu {
  flex: 1 1 auto;
}
.menu__list {
  display: flex;
  gap: 35px;
}
.header__button {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: center;
}
.header__logo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #192252;
}
.menu__item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #192252;
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 991.98px) {
  .header__container {
    min-height: 80px;
    margin: 0 auto;
  }
  .menu__item {
    margin: 0px 3 0px 0px 0px;
  }
  .header__button {
    flex: 0 0 170px;
  }
}
@media (max-width: 768.98px) {
  .header__button {
    flex: 0 0 170px;
  }
  .header__container {
    display: flex;
    flex-direction: column;
  }
  .header__logo{
    padding-bottom: 10px;
  }
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 16px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 156px;
  height: 51px;
  color: #fff;
  background: #0e1734;
  border-radius: 4px;
}
.block-text__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #192252;
}
.footer,
.footer__container {
  background: #0b265a;
}
.footer{
  padding:82px 0px 98px 0px;
}
.footer_block {
  display: flex;
}
.footer_left {
  display: flex;
  width: 232px;
  margin-right: 400px;
  flex-direction: column;
}
.footer_title {
  padding-bottom: 13px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.footer_text {
  width: 186px;
  padding-bottom: 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #d9dbde;
}
.footer_icon {
  display: flex;
  align-items: center;
}
.footer_icon div{
  padding-right: 24px;
}
.footer_right {
  display: flex;
  width: 556px;
  justify-content: space-between;
}
.footer_list li {
  padding-bottom: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #d9dbde;
}
.footer_list li:first-child {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.footer_block{
  padding-right: 60px;
  display: flex;
  height: 263px;
}
@media (max-width: 1087px) {
  .footer_left{
    margin-right: 300px;
  }
}
/* Tablet  */
@media (max-width: 991.98px) {
  .footer_left{
    margin-right: 100px;
  }
}
/* Mobile */
@media (max-width: 767.98px) {
  .footer_left{
    margin-right: 50px;
  }

}