/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  background-color: #ffffff;
}
.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 120px;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__menu {
  flex: 1 1 auto;
}
.menu__list {
  display: flex;
  gap: 35px;
}
.header__button {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: center;
}
.header__logo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #192252;
}
.menu__item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #192252;
}
.menu__link:hover {
  text-decoration: underline;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 16px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 156px;
  height: 51px;
  color: #fff;
  background: #0e1734;
  border-radius: 4px;
}
.block-text__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #192252;
}
.beauty__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 90px;
}
.beauty__content {
  flex: 1 0 43.33%;
  padding: 235px 100px 0px 0px;
}
.block-text {
  padding-bottom: 35px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848fac;
}
.beauty__image {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  flex: 0 1 57.77%;
  position: relative;
  z-index: 2;
}
.beauty__image img {
  max-width: 100%;
}
.beauty__block-text {
  min-width: 520px;
}
.block-text_center {
  text-align: center;
}
.img_2 {
  padding-top: 80px;
}
.block-text__title__blue {
  padding-bottom: 40px;
}
.about_us__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 90px;
}
.about_us__image {
  display: flex;
  flex: 1 0 45.23%;
}
.about_us__image img {
  border-radius: 4px;
  max-width: 100%;
}
.about_us__content {
  display: flex;
  align-items: center;
  flex: 1 0 54.76%;
}
.about_us__block {
  max-width: 615px;
}
.about_us__title {
  padding-bottom: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #192252;
}
.about_us__block-text {
  padding: 0px 0px 16px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848fac;
}
.block-text-second {
  padding: 0px 0px 32px 0px;
}
.cabin__image {
  display: flex;
  position: relative;
  right: -110px;
  flex: 0 1 50%;
}
.cabin__image img {
  max-width: 100%;
  border-radius: 4px;
  padding-bottom: 32px;
}
.activities__container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}
.activities {
  margin: 0 auto;
  max-width: 1095px;
}
.cabin__block__content {
  display: flex;
  flex: 50%;
}
.cabin__block-text {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
.cabin__title {
  padding-bottom: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #192252;
}
.cabin__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848fac;
}
.cabin__block {
  display: flex;
  align-items: center;
}
.organic__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
}
.organic__title {
  padding-bottom: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #192252;
}
.organic__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848fac;
}
.organic__block {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  flex: 1 0 64.84%;
}
.organic__image {
  flex: 0 1 35.16%;
}
.organic__block__content {
  display: flex;
  align-items: center;
}
.organic__block-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 585px;
  max-height: 160px;
}
.organic {
  margin: 0 auto;
  max-width: 1095px;
}
.rooms__block-choose {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rooms__title {
  padding-bottom: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #192252;
}
.rooms__block-text {
  padding-bottom: 32px;
  width: 588px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #848fac;
}
.rooms__block-show {
  display: flex;
  justify-content: space-between;
}
.rooms__cards {
  display: flex;
  flex-wrap: wrap;
}
.rooms__image{
  display: flex;
}
.rooms__image img {
  max-width: 100%;
  border-radius: 4px;
}
.rooms__card-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}
.rooms__card-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848fac;
}
.rooms__more-more{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #424F7B;
}
